

{{> messages }}
{{#if username}}
<h2>{{ username }}'s profile</h2>
<table class="table">
  <tr>
    <td>Name:</td>
    <td>{{ name }}</td>
  </tr>
 
    <td>fullname:</td>
    <td>{{ twitter }}</td>
  </tr>
  <tr>
    <td>email:</td>
    <td>{{ facebook }}</td>
  </tr>
</table>
{{/if}}